//
       @author Aleksey Kucherov <alex.rgb.kiev[at]gmail.com> 
       @date 13.06.17
div View
    each item in items
        div.user-data
            span item.name,
            span item.surname,
            span item.email